body{
    background-color: rgb(206, 235, 230);;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: tomato;
}
p{
    max-width: 50%;
}
h1{
    display: flex;
    justify-content: center;
}
img{
    position: absolute;
    top: 100px;
    left: 50%;
    max-width: 48%;
    padding: 1%;
}