
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.4s;
}

:root{
    --amarillo: rgb(253, 241, 74);
    --crema: rgb(206, 235, 230);
    --gris: grey;
}

body{
    background-color: var(--crema);
    font-family: cursive;
}

.menu{
    border-bottom: 2px solid var(--gris);
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.cabecera{
    display: flex;
    justify-content: start;
    width: 75%;
    background-color: var(--crema);
}

.cabecera img{
    width: 200px;
    display: flex;
    text-align: center;
}

.botones{
    width: 100%;
    display: flex;
    justify-content: space-between;    
    font-size: 150%;
}

.boton-menu{
    text-decoration: none;
    color: black;
    background: none;
    border: 2px solid green;
    font-weight: bold;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    cursor: pointer;
    border: none;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    /* align-items: center;     */
}

.navegador {
    justify-content: center;
    align-items: center; 
    border: 2px solid red;   
}

.submenu-beba{
    display: none;
    background-color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 0;
    list-style: none;
}
.submenu-bebe{
    display: none;
    background-color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 0;
    list-style: none;
}.submenu-nino{
    display: none;
    background-color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 0;
    list-style: none;
}.submenu-nina{
    display: none;
    background-color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 0;
    list-style: none;
}
.detalle a{
    text-decoration: none;

}

.navegador-beba:hover >.submenu-beba{
    display: block;
    position: fixed;
    top: 50px;
    left: 28%;
}
.navegador-bebe:hover >.submenu-bebe{
    display: block;
    position: fixed;
    top: 50px;
    left: 39%;
}
.navegador-nino:hover >.submenu-nino{
    display: block;
    position: fixed;
    top: 50px;
    left: 51%;
}
.navegador-nina:hover >.submenu-nina{
    display: block;
    position: fixed;
    top: 50px;
    left: 63%;
}

.enlases{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.iconos{
    max-width: 40px;
    padding: 3px;
}

.imagenes{
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; */
}
.imagenes ul{
    width: 200%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1%;
    animation: slider 10s infinite alternate;
}

@keyframes slider{
    0%{margin-left: 0;}
    45%{margin-left: 0;}

    50%{margin-left: -100%;}
    100%{margin-left: -100%;}
}

.imagenes img{
    width: 100%;
}

.escondido{
    display: none;
}


@media (max-width: 750px){    
    .botones{
        display: flex;
        justify-content: space-around; 
        padding-right: 5px;   
        padding-left: 5px;    
    }

    .enlases{
        display: none;
    }
    
    .cabecera{
       
        display: flex;
        justify-content: flex-start;
        height: 100%;
    }   
}

@media (max-width: 500px){    
    .menu{
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    
    .cabecera{
        padding-bottom: 5%;
    }
  
    .cabecera img{
        display: flex;
        justify-content: center;
        width: 100% ;
        
    }

@media (max-width: 400px){
    footer{
        font-size: 70%;
    }
    .botones-footer{
        font-size: 70%;
    }
}

    .botones{
        display: flex;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;     
    }

    .boton-menu{
        display: flex;
        justify-content: center;
        align-items: center;
    }      
}

.novedades{
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
}
.novedades img{
    border: 2px solid red;
    width: 100%;
}

section{
    display: flex;
    grid-template-columns: auto;
}

footer{
    padding-left: 1%;
    padding-right: 1%;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: bold;
    color: black;
}

.pieses{
    background-image: url(imagenes/niña-detras.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 3%;
    color: red;
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: none;
    display: flex;
    justify-content: space-around;
}

/* .pie{
    background-color: white;
    border-radius: 100%;
    padding: 2%;
} */

.suscripcion{
    /* padding: 1%; */
    color: black;
    font-weight: bold;
}

.pie a{
    color: black;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border: none;
    background: none;
    display: flex;
    flex-direction: column;
}


.formulario{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}



/* .entrada{
    display: flex;
    justify-content: space-between;
} */


.boton-menu:hover,.iconos:hover, .pie a:hover, .botones-footer:hover{
    background: white;
    border-radius: 10px;
    color: red;
    transform: scale(1.2);
}

.iconos-ubicacion img:hover{
    transform: rotate(0.1turn);
}

