
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.4s;
}

:root{
    --amarillo: rgb(253, 241, 74);
    --crema: rgb(206, 235, 230);
    --gris: grey;
}

body{
    background-color: var(--crema);
    /* background-color: lightcoral; */
}

.menu{
    border-bottom: 2px solid var(--gris);
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.cabecera{
    display: flex;
    justify-content: start;
    width: 75%;
    background-color: var(--crema);
}

.cabecera img{
    width: 200px;
    display: flex;
    text-align: center;
}

.botones{
    width: 100%;
    display: flex;
    justify-content: space-between;    
}

.boton-menu{
    background: none;
    border: none;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.enlases{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.iconos{
    max-width: 40px;
    padding: 3px;
}

.imagenes{
    padding-left: 1%;
    padding-right: 1%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.imagenes img{
    width: 100%;
}

.escondido{
    display: none;
}


@media (max-width: 750px){    
    .botones{
        display: flex;
        justify-content: space-around; 
        padding-right: 5px;   
        padding-left: 5px;    
    }

    .enlases{
        display: none;
    }
    
    .cabecera{
       
        display: flex;
        justify-content: flex-start;
        height: 100%;
    }   
}

@media (max-width: 500px){    
    .menu{
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    
    .cabecera{
        padding-bottom: 5%;
    }
  
    .cabecera img{
        display: flex;
        justify-content: center;
        width: 100% ;
        
    }

@media (max-width: 400px){
    footer{
        font-size: 70%;
    }
    .botones-footer{
        font-size: 70%;
    }
}

    .botones{
        display: flex;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;     
    }

    .boton-menu{
        display: flex;
        justify-content: center;
        align-items: center;
    }      
}

.novedades{
    padding-left: 1%;
    padding-right: 1%;
}
.novedades img{
    width: 100%;
}

section{
    display: flex;
    grid-template-columns: auto;
}

footer{
    padding-left: 1%;
    padding-right: 1%;
    

}

h2{
    font-size: 100%;
}

.pieses{
    background-image: url(imagenes/contact.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 5%;
    color: red;
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: none;
    display: flex;
    justify-content: space-around;
}

.pie a{
    color: black;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border: none;
    background: none;
    display: flex;
    flex-direction: column;
}

.suscripcion{
    padding: 1%;
    display: flex;
    justify-content: center;
}


.boton-menu:hover,.iconos:hover, .pie a:hover, .botones-footer:hover{
    background: white;
    border-radius: 10px;
    color: red;
    transform: scale(1.2);
}

.iconos-ubicacion img:hover{
    transform: rotate(0.1turn);
}